/* animations.css */
@keyframes animate {
  0% {
    opacity: 0;
    transform: translateX(0px);
  }
  50% {
    opacity: 1;
    transform: translateX(0px);
  }
 100% {
    opacity: 0;
  }
}

.animate {
  animation: animate 5s ease-in-out;
  opacity: 0;
}